# Ignore problem statements
*.html

# Java
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/
out/

# Visual Studio
.vs/
bin/
debug/
*.suo
*.user

# Also let's not touch VS project files for active contest
active/TopCoder.csproj
active/TopCoder.sln